<%= erb :header %>
<h1>About Get Out The Vote Posters</h1>
<div class="operations">
  <h2>Mission</h2>
  <p>This website is about generating low tech ways to help get out the vote.  Instead of mobile apps, nifty facebook pages and other higher tech methods, we wanted to create a way for local community organizers to power get out the vote efforts at the block level for different types of languages spoken.</p>
  <h2>Catalyst</h2>
  <p>We (Caitlyn, Marie, Michael, Javier, Ryan, Katy, Amy and Dan) built the website at the <a href="http://transparencycamp.org/viphackathon/">Voting Information Project Hackathon</a> in six hours on April 30, 2012 at George Mason University. The code is open source and <a href="https://github.com/danmelton/vip_multilingual_posters">available for download</a>. It leverages the Developer Voting Information API sponsored by Microsoft, Google, Foursquare, and AT&T. Thank you to <a href="http://www.sunlightfoundation.org">Sunlight Foundation </a> for hosting and <a href="http://www.granicus.com">Granicus</a> for hosting and graphic files. </p>

</div>


<%= erb :footer %>
