</div>
</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div id="layout-footer" class="group">
	<footer id="footer">
		<div id="footer-quad" class="group">
		</div>
			<div id="footer-sig" class="group">
				<div class="zone zone-footer"><p>Logos and theme for this website are copyrighted by the VOTING INFORMATION PROJECT. This website is not sponsored or hosted by the project. Technologies used includes google translate, google geocoding api, Voting Information Project API</p></div>
			</div>
	</footer>
</div>
</div>


</body></html>