</div>
</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div id="layout-footer" class="group">
	<footer id="footer">
		<div id="footer-quad" class="group">
      <div id="google_translate_element"></div><script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en'
        }, 'google_translate_element');
      }
      </script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		</div>
			<div id="footer-sig" class="group">
				<div class="zone zone-footer"><p>Logos and theme for this website are copyrighted by the VOTING INFORMATION PROJECT. This website is not sponsored or hosted by the project. Technologies used includes google translate, google geocoding api, Voting Information Project API</p></div>
			</div>


	</footer>
</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31317511-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>