</div>
</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div id="layout-footer" class="group">
	<footer id="footer">
		<div id="footer-quad" class="group">
		</div>
			<div id="footer-sig" class="group">
				<div class="zone zone-footer"><p>© COPYRIGHT 2012 VOTING INFORMATION PROJECT</p></div>
			</div>
	</footer>
</div>
</div>


</body></html>