<%= erb :header %>
<h1>Contribute!</h1>
<div class="operations">
  <h2>Translate</h2>
  <p>We need help translating more languages and ensuring our languages are up to par.  Visit our <a href="https://github.com/danmelton/vip_multilingual_posters/blob/master/files/translations.yml">translations page</a>, fork, push back to improve our language support. If you don't know how to use github, you can email Dan Melton at danm@granicus.com</p>
  <h2>Design A Poster</h2>
  <p>We have <a href="/pdfs/large.pdf">one poster template</a> and could use some more!</p>
  <p>To design a poster, you have a few elements to work with, that we generate on the fly based upon the <a href="https://github.com/danmelton/vip_multilingual_posters/blob/master/files/translations.yml">translation</a> and the polling location:</p>
  <p>
  <ul>
    <li>Vote</li>
    <li>Election Date</li>
    <li>Polling Place Text</li>
    <li>Polling Place Name</li>    
    <li>Polling Place Address</li>   
    <li>Google Map Tile - dimensions are up to you</li>     
    <li>More Info</li>
    <li>More Info Website</li>     
    <li>SMS Text Info</li>
    <li>SMS Text Line</li>       
  </ul>
  <p>Poster size is 8.5x11</p>
  <p>Arial Unicode - Sorry, we can't support anything else as it has the widest glyph support across languages for UTF8</p>

  <p>Email danm@granicus.com with your design.</p>
  </p>
  <h2>Help Code</h2>
  <p>Email danm@granicus.com to help out. The site needs css, html, js, and ruby skills.</p>
  
  
</div>


<%= erb :footer %>
