<%= erb :header %>
<h1>Enter an Address</h1>
<div class="operations">

	<h2 class="step1"></h2>

    <div class="formholder">

      <form action="step2" method="get" accept-charset="utf-8">
         <input type="text" name="address" style="width: 500px;"  class="biginputfield" placeholder="Enter Your Address Here" id="address">
         <input type="submit" class="css3button" value="Go!">
      </form>
      
      <p>Try entering addresses in Richmond, VA, like "109 Govenor St, Richmond, VA"</p>

    </div>

</div>


<%= erb :footer %>

