<%= erb :header %>
<h1>Enter a Location</h1>
<div class="operations">
    <h2 class="step1">Step 1: Enter a Location</h2>
    <form action="step2" method="get" accept-charset="utf-8">
      <input type="text" name="address" value="" id="address">

      <p><input type="submit" value="Next Step >>"></p>
    </form>
</div>


<%= erb :footer %>