<%= erb :header %>

<div class="operations download">
    <h2 class="step1">Step 3: Download  your posters</h2>
	<ul class="posters">
		<li class="spanish">
			Spanish <span class="downloadLinks"><a class="size1" href="">3 x 5</a><a class="size 3x5" href="size2">8.5 x 11</a></span>
		</li>
		<li class="hindi">
			Hindi <span class="downloadLinks"><a class="size1" href="">3 x 5</a><a class="size 8x11" href="size2">8.5 x 11</a></span>
		</li>
	</ul>
</div>



<%= erb :footer %>