<%= erb :header %>

<%
   languages = []
   params.map do |k, v|
     if k.match("language")
       languages << v
     end
   end

   session[:languages] = languages
%>
<div class="operations download">
  <a href="/step2">
    <h2 class="step3">Step 3: Download your posters</h2>
  </a>
  <ul class="posters">
    <% if session[:languages].length > 0 %>
      <% session[:languages].each do |lang| %>
        <li class="lang">
          <%= lang.capitalize %>
          <span class="downloadLinks"><a class="size 8x11" href="download?language=<%=lang%>&size=large">Download 8.5 x
            11 Poster</a></span>
        </li>
      <% end %>
    <% else %>
      No Languages were selected
    <% end %>
  </ul>
</div>

<%= erb :footer %>
