<%= erb :header %>
<h1>Enter an Address</h1>
<div class="operations">

	<h2 class="step1"></h2>

    <div class="formholder">

      <form action="step2" method="get" accept-charset="utf-8">
         <input type="text" name="address" placeholder="Enter Your Address Here" id="address">
         <input type="submit" value="Go!">
      </form>

    </div>

</div>


<%= erb :footer %>


Enter Address


880 and 960, 40 px margin on each side